<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header{
            display: flex;
        }
        a{
            margin-left: 20%;
        }
    </style>
</head>
<body>
    <div id="container">
        <header>
            <div id="success">
                <h2>Hello {{user.first_name}} ! These are the job details!</h2>
            </div>
            <a href="http://localhost:8000/dashboard"> Dashboard</a>
            <a href="http://localhost:8000/logout"> Logout</a>
        </header>  
        <h3> {{job.title}} </h3>
        <main>
            <p> {{job.desc}} </p>
            <p> Location : {{job.location}} </p>
            <p> Posted by: {{job.users.first.first_name}} </p>
            <p> Posted on:  {{job.created_at}} </p>
            <p> Categories: {{job.category}} </p>
        </main>
            
    </div>
</body>
</html>